.sideNav {
    height: 100vh;
}



  
  .sidenav-toggle {
    background-color: grey;
  }
  
  .navtext {
    color: black;
  }

.toggle-box {
    margin-top: 30px;
    padding: 10px;
    position: fixed;
    height: fit-content;
    z-index: 99
}

.toggle-box:hover {
  background:lightgray;
}

.nav-item {
    width: 100%;
    padding: 10px;
}

.nav-item:hover {
    cursor: pointer; 
}

.nav-menu {
    position: fixed;
    padding-top: 90px;
    width: 200px;
    background-color:lightgray;
    height: 100vh;
    z-index: 10
}

.nav-menu.hidden {
    left: -200px;
    position: fixed;
}